# SaveManager
dearpygui
pyperclip
requests
pillow
numpy
keyboard
dxcam[cv2]
pywinstyles
pywin32

# Installer
customtkinter
CTkToolTip
CTkMessagebox
py7zr

# Installing and formatting
nuitka
pyinstaller
black
pyinstaller_versionfile
