# SaveManager dependencies
dearpygui
pyperclip
requests
pillow
numpy
keyboard
dxcam[cv2]
pywinstyles
pywin32

# Installing and formatting
nuitka
pyinstaller
black
pyinstaller_versionfile

# Other projects
customtkinter
CTkToolTip
CTkMessagebox
py7zr